/* General CSS for website */
* {
    font-family: Georgia, "Gill Sans", serif;
    line-height: 2;
}

:root {
    --backgroundOne: white;
    --backgroundTwo: #f2f2f2;
    --headerBackground: #404040;
    --headerText: #d9d9d9;
    --bodyText: #4d4d4d;
    --titleFont: 'Courier New', Courier, monospace;
}

html {
    /* background-color: whitesmoke */
    background-image: linear-gradient(whitesmoke, #808080);
}

/* Navigation Bar CSS 
    header
        name
        menu
            menu li
*/

body {
    margin: 0;
}

header {
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;

    width: 90%;
    padding: 0% 5%;
    background-color: var(--headerBackground);
}

#name {
    text-align: center;
    font-size: 20px;
    margin: auto 5%;
    color: var(--headerText);
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 3px 10px;
}

.menu li a {
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    color: black;
}

.link {
    text-decoration: none;
    color: var(--headerText);
}

/* Middle Block CSS */
.content {
    text-align: center;
    width: 65%;

    margin: 1% auto;
    padding-right: 20px;
    padding-left: 20px;
}

#beginning {
    margin-top: 100px;
}

.heading {
    text-align: left;
    border-bottom: 2px solid var(--bodyText);
    font-family: var(--titleFont); 
    font-size: 30px;
}

#home {
    text-align: center;
}

.text {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#project {
    list-style: none;
    padding: 0px 0px;
}

.projectTitle {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: var(--titleFont);
}

#projectDescription{
    margin-top: 0px;
}

.bodyLinks {
    text-decoration: none;
    font-weight: bold;
}

.bodyLinks:hover {
    color:black;
    transform: scale(1.1);
}

#video {
    margin: 20px;
    z-index: -1;
}

#resume {
    padding: 10px;
    display: inline-block;
}

#connect {
    margin: 5%;
}

.logos {
    padding: 10px 5%;
    text-decoration: none;
}


.displayOne {
    background-color: var(--backgroundOne);
    color: var(--bodyText);
}

.displayTwo {
    background-color: var(--backgroundTwo);
    color: var(--bodyText);
}

/*
The class selector selects elements with a specific class attribute. 
It matches all the HTML elements based on the contents of their class attribute. 
The . symbol, along with the class name, is used to select the desired class.

.class-name {
    (Define properties here)
}


The ID selector matches an element based on the value of its id attribute.
In order for the element to be selected, its ID attribute must exactly match the value given in the selector.
The # symbol and the id of the HTML element name are used to select the desired element.

#idname {
    (Define properties here)
}
*/


/* 

To create a variable with global scope, declare it inside the :root selector.
The :root selector matches the document's root element.

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}


Margin - Clears an area outside the border. The margin is transparent
    margin: (margin-top) (margin-right) (margin-bottom) (margin-left);
Border - A border that goes around the padding and content
    border: (border-width) (border-style) (border color);
Padding - Clears an area around the content. The padding is transparent
    padding: (padding-top) (padding-right) (padding-bottom) (padding-left);
Content - The content of the box, where text and images appear

*/